// **********************************************************************************
// Equip
// **********************************************************************************
.equip {
    width: 100%;
    height: 100%;
    min-width: 300px;
    opacity: 0.5;
}
.equip-slots-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    border: black solid 2px;
}
.equip-slots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border: black solid 2px;
    height: 90%;
    width: 60%;
        img {
            opacity: 1;
            height: 100%;
            width: 100%;
        }
        .equip-column {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 15%;
            border: black solid 1px;
                .equip-slot{
                    height: 12.5%;
                    width:100%;
                    border: black solid 1px;
                }
        }
        .equip-bottom{
            display: flex;
            width: 32%;
            height: 12.6%;
            border: black solid 1px;
                .bottom-slot {
                    height: 100%;
                    width: 50%;
                    border: black solid 1px;
                }
        }
}
// **********************************************************************************
// Equip Small Boxes
// **********************************************************************************
#s1 {
  background-color: none;  
}
#s2 {
    background-color: none; 
}
#s3 {
    background-color: none; 
}
#s4 {
   background-color: none;  
}
#s5 {
   background-color: none;  
}
#s6 {
    background-color: none; 
}
#s7 {
    background-color: none; 
}
#s8 {
    background-color: none; 
}
#s9 {
    background-color: none; 
}
#s10 {
    background-color: none; 
}
#s11 {
    background-color: none; 
}
#s12 {
   background-color: none; 
}
#s13 {
    background-color: none; 
}
#s14 {
    background-color: none; 
}
#s15 {
   background-color: none; 
}
#s16 {
 background-color: none; 
}
#s17 {
 background-color: none; 
}
#s18 {
 background-color: none; 
}
#s19 {
  background-color: none; 
}