<!DOCTYPE html>
<html>

<head>
    <title>Website</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0-beta.3/angular-ui-router.min.js"></script>
    <script src="angular-drag-and-drop-lists.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="WowApp">
    <header class="wrap">
        <div class="login-container">
            <input type="text" placeholder="Username">
            <input type="text" placeholder="Password">
        </div>
    </header>
    <video playsinline autoplay loop muted poster='https://giant.gfycat.com/TinyBigheartedFreshwatereel.webm' id="bgvid">
        <source src="https://giant.gfycat.com/TinyBigheartedFreshwatereel.webm" type='video/webm'>
    </video>
    <main class="wrap">

        <section class="search" ng-controller="SearchController">
            <input id="searchBox" class="wrap" type="text" placeholder="Search">
            <div class="wrap search-content" ng-controller="SearchController">
                <ul ng-repeat="item in test">
                    <li ng-click="additem(item)" class="list"><img ng-src="{{ item.image }}">{{ item.name }}</li>
                </ul>
            </div>
        </section>
        <section ng-controller="ItemDisplay" class="equip-slots-main">
            <div class="equip-slots">
                <div class="equip-column">
                    <div id="s1" class="equip-slot"><img alt="gear.head.name" ng-src="{{ gear.head.image }}"></div>
                    <div id="s2" class="equip-slot"><img alt="gear.neck.name" ng-src="{{ gear.neck.image }}"></div>
                    <div id="s3" class="equip-slot"><img alt="gear.shoulders.name" ng-src="{{ gear.shoulders.image }}"></div>
                    <div id="s16" class="equip-slot"><img alt="gear.cloak.name" ng-src="{{ gear.cloak.image }}"></div>
                    <div id="s5" class="equip-slot"><img alt="gear.chest.name" ng-src="{{ gear.chest.image }}"></div>
                    <div id="s4" class="equip-slot"><img alt="gear.shirt.name" ng-src="{{ gear.shirt.image }}"></div>
                    <div id="s19" class="equip-slot"><img alt="gear.tabard.name" ng-src="{{ gear.tabard.image }}"></div>
                    <div id="s9" class="equip-slot"><img alt="gear.wrist.name" ng-src="{{ gear.wrist.image }}"></div>
                </div>
                <div class="equip-bottom">
                    <div id="s21" class="bottom-slot"><img alt="gear.righthand.name" ng-src="{{ gear.righthand.image }}"></div>
                    <div id="s17" class="bottom-slot"><img alt="gear.lefthand.name" ng-src="{{ gear.lefthand.image }}"></div>
                </div>
                <div class="equip-column">
                    <div id="s10" class="equip-slot"><img alt="gear.hands.name" ng-src="{{ gear.hands.image }}"></div>
                    <div id="s6" class="equip-slot"><img alt="gear.belt.name" ng-src="{{ gear.belt.image }}"></div>
                    <div id="s7" class="equip-slot"><img alt="gear.pants.name" ng-src="{{ gear.pants.image }}"></div>
                    <div id="s8" class="equip-slot"><img alt="gear.feet.name" ng-src="{{ gear.feet.image }}"></div>
                    <div id="s11" class="equip-slot"><img alt="gear.ring1.name" ng-src="{{ gear.ring1.image }}"></div>
                    <div id="s13" class="equip-slot"><img alt="gear.ring2.name" ng-src="{{ gear.ring2.image }}"></div>
                    <div id="s12" class="equip-slot"><img alt="gear.trinket1.name" ng-src="{{ gear.trinket1.image }}"></div>
                    <div id="s14" class="equip-slot"><img alt="gear.trinket2.name" ng-src="{{ gear.trinket2.image }}"></div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>